# 資料總覽

In [22]:
import pandas as pd

## YB 相關 -- 流量

In [23]:
yb_flow = pd.read_parquet("DATA/Youbike/youbike_flow_data_network.pq")
yb_flow

,station,time,count_out,count_in,neighbor_out,neighbor_in
0,捷運科技大樓站,2020-04-01 00:00:00,1,1,2,3
1,捷運科技大樓站,2020-04-01 01:00:00,0,0,0,1
2,捷運科技大樓站,2020-04-01 02:00:00,0,0,0,0
3,捷運科技大樓站,2020-04-01 03:00:00,0,0,1,0
4,捷運科技大樓站,2020-04-01 04:00:00,0,0,0,0
...,...,...,...,...,...,...
33426562,機場捷運台北車站(6號出口),2023-02-28 19:00:00,4,3,38,34
33426563,機場捷運台北車站(6號出口),2023-02-28 20:00:00,1,1,33,29
33426564,機場捷運台北車站(6號出口),2023-02-28 21:00:00,0,2,31,30
33426565,機場捷運台北車站(6號出口),2023-02-28 22:00:00,1,3,32,21
33426566,機場捷運台北車站(6號出口),2023-02-28 23:00:00,0,0,3,5

In [24]:
reindex_yb_flow = yb_flow.set_index(['station', 'time'])

In [25]:
reindex_yb_flow.loc[('捷運科技大樓站','2020-04-01 00:00:00'),]

count_out       1
count_in        1
neighbor_out    2
neighbor_in     3
Name: (捷運科技大樓站, 2020-04-01 00:00:00), dtype: int64

In [26]:
reindex_yb_flow.columns

Index(['count_out', 'count_in', 'neighbor_out', 'neighbor_in'], dtype='object')

## YB 相關 -- 資訊

In [27]:
yb_info = pd.read_parquet("DATA/Youbike/yb_info.pq")
yb_info

                name  total       lat        lng        address
0            捷運科技大樓站     28  25.02605  121.54360    復興南路二段235號前
1        復興南路二段273號前     21  25.02565  121.54357   復興南路二段273號西側
2          國北教大實小東側門     16  25.02429  121.54124    和平東路二段96巷7號
3             和平公園東側     11  25.02351  121.54282  和平東路二段118巷33號
4          辛亥復興路口西北側     16  25.02153  121.54299     復興南路二段368號
...              ...    ...       ...        ...            ...
1306         臺大獸醫館南側     24  25.01791  121.54242       臺大獸醫系館南側
1307       臺大新體育館東南側     40  25.02112  121.53591        臺大體育館東側
1308   臺大明達館北側(員工宿舍)     18  25.01816  121.54469       明達館北側前空地
1309       辛亥路五段73巷口     23  24.99818  121.55312     已移除。手動增加資訊
1310  機場捷運台北車站(6號出口)     23  25.04969  121.51201     已移除。手動增加資訊

[1311 rows x 5 columns]

## 7-11 座標

In [28]:
conv_store = pd.read_parquet("DATA/711/all_711_coord.pq")
conv_store

    store_name        lat         lng
0           上弘  25.056391  121.548287
1          小巨蛋  25.050944  121.549433
2           中崙  25.048396  121.552737
3           北體  25.050888  121.552850
4           台場  25.048086  121.551158
..         ...        ...         ...
898         懷得  25.114096  121.519656
899         關渡  25.121540  121.467483
900        關渡站  25.125037  121.467181
901         鐏賢  25.117453  121.506854
902         護專  25.118001  121.522299

[903 rows x 3 columns]

## 人口學變量 -- 各里各年齡層比例 + 收入分佈

In [29]:
demographic = pd.read_parquet("DATA/Demographic/demographic.pq")
demographic.drop(columns=["行政區", "綜合所得總額"], inplace=True)

In [30]:
demographic

,里別,總計,age_0_15,age_16_18,age_19_24,age_25_40,age_41_65,age_66_75,age_76_100,平均數,中位數,第一分位數,第三分位數
0,莊敬里,5045.0,11.912785,2.418236,5.748266,20.118930,38.691774,13.280476,7.829534,844,543,242,1054
1,東榮里,7799.0,17.348378,2.295166,5.064752,17.027824,36.145660,13.437620,8.680600,1512,723,287,1758
2,三民里,6380.0,12.351097,2.147335,5.564263,17.789969,38.605016,13.620690,9.921630,1115,625,260,1320
3,新益里,4326.0,11.534905,2.265372,4.808137,20.850670,37.586685,14.193250,8.760980,919,538,231,1181
4,富錦里,4942.0,14.225010,2.185350,4.917038,19.607446,36.806961,14.467827,7.790368,1118,580,262,1346
...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,關渡里,10982.0,11.946822,2.522309,5.554544,22.272810,37.606993,12.793662,7.302859,859,482,218,1007
452,泉源里,2267.0,7.190119,2.514336,6.793119,21.614468,40.979268,13.056903,7.851787,717,395,190,724
453,湖山里,1492.0,6.300268,2.077748,4.423592,19.235925,41.085791,14.946381,11.930295,967,452,216,980
454,大屯里,1232.0,11.444805,1.948052,6.250000,20.535714,37.662338,12.662338,9.496753,887,457,237,997
455,湖田里,871.0,6.888634,1.377727,6.199770,20.321470,41.561424,14.466131,9.184845,869,406,218,806

## 各里地理資訊

In [31]:
li_coord = pd.read_parquet("DATA/Demographic/li_coords_xy.pq")
li_coord

    VILLNAME              x             y
0        西新里  309680.933610  2.771898e+06
1        重陽里  310291.290886  2.772318e+06
2        蘆洲里  310928.725286  2.772775e+06
3        石潭里  309759.045690  2.772820e+06
4        朱園里  303960.451833  2.771279e+06
..       ...            ...           ...
451      泉源里  302505.110366  2.782842e+06
452      平等里  308390.308238  2.781948e+06
453      大屯里  300992.353133  2.783640e+06
454      菁山里  307313.564606  2.783887e+06
455      湖田里  305238.593401  2.785782e+06

[456 rows x 3 columns]

## MRT

In [32]:
MRT = pd.read_parquet("DATA/MRT/MRT_coord_with_flow_weight.pq")
MRT

     station  hour        in       out  No         lng        lat
0       台北車站    18  6.575462  6.605948  M5  121.516246  25.046755
1       台北車站    18  6.575462  6.605948  M6  121.516787  25.046234
2       台北車站    18  6.575462  6.605948  M7  121.518643  25.046077
3       台北車站    18  6.575462  6.605948  M8  121.517479  25.045948
4       台北車站    18  6.575462  6.605948  M1  121.518193  25.048232
...      ...   ...       ...       ...  ..         ...        ...
9067     十四張     1  1.623249  1.748188   0  121.527701  24.984467
9068     十四張     2  1.204120  1.612784   0  121.527701  24.984467
9069     十四張     5  1.000000  0.903090   0  121.527701  24.984467
9070     十四張     4  1.000000  0.845098   0  121.527701  24.984467
9071     十四張     3  0.778151  1.361728   0  121.527701  24.984467

[9072 rows x 7 columns]

## 公車

In [33]:
bus = pd.read_parquet("DATA/Bs/bus_agg_by_stop.pq")
bus

,PublicId,Name,Latitude,Longitude,Bus_number,x,y
0,1000100040,捷運中正紀念堂站(中山),25.036430,121.516730,1,302143.790748,2.769912e+06
1,1000500040,重慶南路一段,25.045607,121.513187,2,301782.392692,2.770927e+06
2,1000500041,重慶南路一段,25.044691,121.513165,2,301780.557479,2.770826e+06
3,1000500042,重慶南路一段,25.044432,121.513114,2,301775.530123,2.770797e+06
4,1000900060,衡陽路,25.042270,121.510210,5,301483.401044,2.770557e+06
...,...,...,...,...,...,...,...
3694,2517206110,崁頂三路,25.195630,121.430072,1,293342.737269,2.787515e+06
3695,2517206260,輕軌淡水行政中心站,25.189169,121.443384,1,294686.697500,2.786804e+06
3696,2517300400,馬偕醫院,25.141655,121.459785,4,296357.683439,2.781547e+06
3697,2517300500,捷運竹圍站,25.136591,121.460120,4,296393.333479,2.780986e+06
3698,2517301100,馬偕醫院一,25.139624,121.459786,4,296358.561333,2.781322e+06

## 高中

In [61]:
highschool = pd.read_parquet("DATA/Education/highschool_coord.pq")
highschool

           school_name        lat         lng
0           臺北市立西松高級中學  25.054988  121.565841
1           臺北市立中崙高級中學  25.048714  121.561104
2           臺北市立松山高級中學  25.043634  121.565614
3           臺北市立永春高級中學  25.032446  121.578128
4       國立臺灣師範大學附屬高級中學  25.033674  121.540411
..                 ...        ...         ...
134    新北市私立清傳高級商業職業學校  25.052015  121.476840
135  新北市私立能仁高級家事商業職業學校  24.957891  121.540058
136    新北市私立豫章高級工商職業學校  24.997370  121.458729
137  新北市私立莊敬高級工業家事職業學校  24.985717  121.532169
138    新北市私立中華商業海事職業學校  25.175372  121.687219

[139 rows x 3 columns]

## 河濱自行車道

In [42]:
bike_route = pd.read_parquet("DATA/Tourist/tpe_river_bike.pq")
bike_route

            lat         lng
0     25.109929  121.467283
1     25.109890  121.467547
2     25.109818  121.467912
3     25.109660  121.468860
4     25.109676  121.468981
...         ...         ...
4366  25.098003  121.511199
4367  25.097981  121.511194
4368  25.097958  121.511195
4369  25.097936  121.511199
4370  25.097915  121.511207

[4371 rows x 2 columns]

## 景點

In [14]:
tourist_spot = pd.read_parquet("DATA/Tourist/taipei_tour.pq")
tourist_spot

             tour_name        lat         lng  Class1  Class2  Class3
3717   大稻埕碼頭_大稻埕碼頭貨櫃市集  25.056400  121.507610      12     NaN     NaN
3718              關渡碼頭  25.120870  121.461980      12     NaN     NaN
3719              大佳碼頭  25.075880  121.537420      12    15.0     NaN
3720         景美溪河濱自行車道  24.981350  121.566290      12    13.0     NaN
3721  關渡_金色水岸_八里左岸自行車道  25.113820  121.480030      11    12.0     NaN
...                ...        ...         ...     ...     ...     ...
5301              雅痞書店  25.043179  121.543110       5     NaN     NaN
5309              大陸書店  25.042337  121.510993       5     NaN     NaN
5310             鴻儒堂書局  25.046237  121.513756       5     NaN     NaN
5311          艾比露比外文書店  25.050641  121.575924       5     NaN     NaN
5312         聯經書房 上海書店  25.017524  121.533161       5     NaN     NaN

[450 rows x 6 columns]

In [62]:
from transformation import FeaturePipe
import transformation.features as FE


fp = FeaturePipe([
    FE.XYCoord(),
    FE.ConvenientStoreFeature(conv_store, 500),
    FE.VillageFeature(demographic, li_coord),
    FE.InAlley(),
    FE.BusAggregateFeature(bus, 400),
    FE.BikeRouteFeaure(bike_route, 1000),
    FE.HighSchoolFeature(highschool, 400)
])

fp.build(yb_info)

,name,total,lat,lng,address,x,y,conv_count,總計,age_0_15,...,age_66_75,age_76_100,平均數,中位數,第一分位數,第三分位數,in_alley,bus_arround,around_riverside,around_highschool
0,捷運科技大樓站,28,25.02605,121.54360,復興南路二段235號前,304859.938784,2.768773e+06,9,5289.763742,13.824678,...,12.730214,7.881106,1152.662674,613.484660,259.013040,1351.154626,False,57,False,True
1,復興南路二段273號前,21,25.02565,121.54357,復興南路二段273號西側,304857.088954,2.768729e+06,11,5298.603467,13.858581,...,12.704571,7.865057,1150.909044,613.339145,258.972667,1350.220552,False,55,False,True
2,國北教大實小東側門,16,25.02429,121.54124,和平東路二段96巷7號,304622.542775,2.768577e+06,9,5484.350616,14.324470,...,12.510692,7.776559,1155.061118,620.931923,261.313565,1364.446159,True,70,False,False
3,和平公園東側,11,25.02351,121.54282,和平東路二段118巷33號,304782.347456,2.768491e+06,7,5398.918114,14.160731,...,12.538025,7.791265,1146.136679,616.023285,259.867428,1352.210162,True,62,False,False
4,辛亥復興路口西北側,16,25.02153,121.54299,復興南路二段368號,304800.383642,2.768272e+06,5,5323.235098,14.008011,...,12.537228,7.783300,1133.195332,610.184094,258.212969,1337.336069,False,26,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306,臺大獸醫館南側,24,25.01791,121.54242,臺大獸醫系館南側,304744.461695,2.767871e+06,3,5264.655805,13.658091,...,12.536575,7.802037,1107.468924,599.359170,255.475791,1309.047082,False,38,False,False
1307,臺大新體育館東南側,40,25.02112,121.53591,臺大體育館東側,304086.012244,2.768224e+06,2,5339.805774,13.987413,...,12.578489,7.776346,1131.281178,610.972571,258.291626,1337.603485,False,26,False,False
1308,臺大明達館北側(員工宿舍),18,25.01816,121.54469,明達館北側前空地,304973.457593,2.767900e+06,2,5259.413040,13.589284,...,12.564578,7.785314,1106.255719,598.060255,255.019815,1306.648207,False,58,False,False
1309,辛亥路五段73巷口,23,24.99818,121.55312,已移除。手動增加資訊,305833.314032,2.765690e+06,7,5488.574132,12.967324,...,12.417547,7.359431,1043.219670,577.983221,249.638505,1248.837684,False,27,False,False
1310,機場捷運台北車站(6號出口),23,25.04969,121.51201,已移除。手動增加資訊,301661.926140,2.771379e+06,11,5039.967131,13.087871,...,12.829115,7.560809,1029.911755,559.933759,241.794783,1209.740424,False,62,True,False

In [65]:
fp.show_features()

0	XYCoord
1	ConvenientStoreFeature[distance = 500]
2	VillageFeature
3	InAlley
4	BusAggregateFeature[distance = 400]
5	BikeRouteFeaure[distance = 1000]
6	HighSchoolFeature[distance = 400]
Total columns:  24